.DS_Store
__pycache__/
*.pyc
*.egg-info/
finetune_*.out
finetune_*.err
benchmark_*.out
benchmark_*.err
eval_*.out
eval_*.err
data/effocr/*
!data/effocr/.gitkeep
effocr_env/
char_recognizer/
word_recognizer/
effocr_en/
